[Unit]
Description=Run Flatpak update daily and 10m after boot

[Timer]
OnBootSec=10min
OnUnitActiveSec=1d
Persistent=true

[Install]
WantedBy=timers.target
